/* @import url("https://fonts.googleapis.com/css2?family=Switzer:wght@500&display=swap"); */

/* @import url("https://fonts.cdnfonts.com/css/switzer"); */

@font-face {
  font-family: "Airbnb Cereal App";
  src: url("fonts/AirbnbCerealApp-Light.woff2") format("woff2"),
    url("fonts/AirbnbCerealApp-Light.woff") format("woff"),
    url("fonts/AirbnbCerealApp-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Airbnb Cereal App";
  src: url("fonts/AirbnbCerealApp-Regular.woff2") format("woff2"),
    url("fonts/AirbnbCerealApp-Regular.woff") format("woff"),
    url("fonts/AirbnbCerealApp-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Airbnb Cereal App";
  src: url("fonts/AirbnbCerealApp-Bold.woff2") format("woff2"),
    url("fonts/AirbnbCerealApp-Bold.woff") format("woff"),
    url("fonts/AirbnbCerealApp-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-family: "Airbnb Cereal App", sans-serif;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  width: 365px;
  height: 120px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

.card--light {
  background-color: white;
  color: black;
}

.card--dark {
  background-color: black !important;
  color: white;
}

.card__image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 25px;
}

.card__content {
  width: 185px;
  height: 77px;
}

.card__container {
  margin: 13px 44px 14px 15px;
}

.card__title {
  font-family: "Switzer", sans-serif;
}

.card__description {
  font-family: "Switzer", sans-serif;
  letter-spacing: -0.01em;
}

.card__author .card__date {
  font-family: "Switzer", sans-serif;
}

.landscape__image {
  width: 237px;
  height: 257px;
  object-position: center;
  object-fit: none;
  border-radius: 25px;
}
/* 
  .truncate {
    display: block;
    max-height: 3.6em;
    line-height: 1.8em;
    overflow: hidden;
    position: relative;
  }

  .truncate::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    padding-left: 5px;
  } */

.truncate-header {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-link {
  color: #7da751;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: -0.01em;
  position: relative;
}

.card-des {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 13px;
  word-break: break-all;
  opacity: 0.6;
  line-height: 1.26;
  letter-spacing: 0.025em;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-main {
  width: 185px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  width: 100px;
  height: 100px !important;
  object-fit: cover;
  margin: auto 0;
  border-radius: 10px;
}

.card-container {
  max-width: 345px;
  min-width: fit-content;
  background: white;
  display: flex;
  border-radius: 16px !important;
  padding: 10px;
  height: fit-content;
  margin: 10px 0 !important;
}
